<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Block</title>
</head>
<body>
<div class="container">

    <h3>Block Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Block</p>

    <form action="#" th:action="@{/blocks/save}" th:object="${block}" method="POST">
        <!--Add hidden form field to handle update -->
        <input type="hidden" th:field="*{blockID}">

        <input type="text" th:field="*{blockName}" class="form-control mb-4 col-4" placeholder="block name">

        <input type="date" th:field="*{startDate}" class="form-control mb-4 col-4" placeholder="Start Date">

        <input type="date" th:field="*{endDate}" class="form-control mb-4 col-4" placeholder="End Date">

        <input type="text" th:field="*{FPPNum}" class="form-control mb-4 col-4" placeholder="FPP Num">

        <input type="text" th:field="*{MPPNum}" class="form-control mb-4 col-4" placeholder="MPP Num">

        <label > Entry</label>
        <select class="form-control mb-4 col-4" th:field="*{entry}" size="5" multiple="multiple">
            <option th:each="ent : ${entries}"
                     th:value="${{ent}}"
                      th:text="${ent.getMonth()}">


            </option>

        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/blocks/list}"> Back to Entry List</a>
</div>
</body>
</html>